/.env

# IDEs and editors
/.idea
.vscode/*

# System Files
.DS_Store
Thumbs.db

# Test dependencies
/tests/dist
/tests/downloads
/tests/node_modules
/tests/reports
/tests/screenshots
!/tests/reports/.gitkeep
!/tests/downloads/.gitkeep

