{{#title}}
<section
    class="article-section {{#isFirst}}article-section--first{{/isFirst}}"
  {{#id}} id="{{id}}"{{/id}}
  {{#hasBehaviour}}data-behaviour="ArticleSection"{{/hasBehaviour}}
  {{#isInitiallyClosed}}data-initial-state="closed"{{/isInitiallyClosed}}
>

  {{#title}}
  <header class="article-section__header">
    <h{{headingLevel}} class="article-section__header_text">{{{title}}}</h{{headingLevel}}>
  </header>
  {{/title}}

  <div class="article-section__body">
    {{^showCharts}}
      {{{body}}}
    {{/showCharts}}

    {{#chart}}
      {{>patterns/bar-chart}}
    {{/chart}}

    {{#showCharts}}
      {{>patterns/statistic-collection}}
    {{/showCharts}}

    {{#doi}}
      {{> patterns/doi}}
    {{/doi}}
  </div>

</section>
{{/title}}
{{^title}}
 <div class="article-section__body">
    {{^showCharts}}
      {{{body}}}
    {{/showCharts}}

    {{#chart}}
      {{>patterns/bar-chart}}
    {{/chart}}

    {{#showCharts}}
      {{>patterns/statistic-collection}}
    {{/showCharts}}

    {{#doi}}
      {{> patterns/doi}}
    {{/doi}}
  </div>
{{/title}}
