<div class="carousel" role="region" data-behaviour="Carousel"{{#headingId}} aria-labelledby="{{headingId}}"{{/headingId}}>
  {{#heading}}
    {{>patterns/list-heading}}
  {{/heading}}

  <ul class="carousel__items">

    {{#items}}
      {{> patterns/carousel-item}}
    {{/items}}

  </ul>

</div>
