{{#heading}}
  {{>patterns/list-heading}}
{{/heading}}

{{#items}}
<section
  class="article-section article-section"
  data-behaviour="ArticleSection"
  data-initial-state="closed"
>
  <header class="article-section__header">
    <h3 class="article-section__header_text">{{{groupName}}}</h3>
  </header>

  <div class="article-section__body">
    <ol class="listing-list">
      {{#teasers}}
      <li class="listing-list__item">{{> patterns/teaser }}</li>
      {{/teasers}}
    </ol>
  </div>

</section>
{{/items}}

{{#seeMoreLink}}
  {{> patterns/see-more-link}}
{{/seeMoreLink}}
