<div>
  {{#heading}}
    {{>patterns/list-heading}}
  {{/heading}}

  <ol class="listing-list" {{#id}} id="{{id}}"{{/id}}>
    {{#items}}{{!
      }}<li class="listing-list__item">{{> patterns/annotation-teaser }}</li>
    {{/items}}{{!
  }}</ol>


  {{#pagination}}
    {{> patterns/pager}}
  {{/pagination}}
</div>
