<form method="GET" action="{{route}}" data-behaviour="SelectNav">
  {{#select}}
    {{>patterns/select}}
  {{/select}}
  {{#button.text}}
    {{#button}}
      {{>patterns/button}}
    {{/button}}
  {{/button.text}}
</form>
