{% set criticalCss = 'article' %}

{% extends '::page.html.twig' %}

{% block canonical %}
    {{ path('article', {id: item.id}) }}
{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    {% if contextualData %}

        <div class="wrapper">

            {{ render_pattern(contextualData) }}

        </div>

    {% endif %}

    <div data-behaviour="DelegateBehaviour" data-delegate-behaviour="Popup" data-selector=".article-section:not(#abstract) a">

        {% block article_body %}{% endblock %}

    </div>

{% endblock %}
