home:
    path: /
    defaults:
         _controller: AppBundle:Home:home

about:
    path: /about
    defaults:
         _controller: AppBundle:About:about

article-version:
    path: /articles/{id}v{version}
    defaults:
         _controller: AppBundle:Articles:text
    requirements:
        id: '[a-z0-9-]+'
        version: '[1-9][0-9]*'

article-bibtex:
    path: /articles/{id}.bib
    defaults:
         _controller: AppBundle:Articles:bibTex
    requirements:
        id: '[a-z0-9-]+'

article-ris:
    path: /articles/{id}.ris
    defaults:
         _controller: AppBundle:Articles:ris
    requirements:
        id: '[a-z0-9-]+'

article-type:
    path: /articles/{type}
    defaults:
         _controller: AppBundle:ArticleTypes:list
    requirements:
        type: '(correction|editorial|research-article|research-communication|registered-report|scientific-correspondence|short-report|tools-resources)'

article-version-xml:
    path: /articles/{id}v{version}.xml
    defaults:
         _controller: AppBundle:Articles:xml
    requirements:
        id: '[a-z0-9-]+'
        version: '[1-9][0-9]*'

article-xml:
    path: /articles/{id}.xml
    defaults:
         _controller: AppBundle:Articles:xml
    requirements:
        id: '[a-z0-9-]+'

article:
    path: /articles/{id}
    defaults:
         _controller: AppBundle:Articles:text
    requirements:
        id: '[a-z0-9-]+'

article-version-figures:
    path: /articles/{id}v{version}/figures
    defaults:
         _controller: AppBundle:Articles:figures
    requirements:
        id: '[a-z0-9-]+'
        version: '[1-9][0-9]*'

article-figures:
    path: /articles/{id}/figures
    defaults:
         _controller: AppBundle:Articles:figures
    requirements:
        id: '[a-z0-9-]+'

collection:
    path: /collections/{id}/{slug}
    defaults:
         _controller: AppBundle:Collections:collection
         slug: ''
    requirements:
        id: '[a-z0-9-]+'

collections:
    path: /collections
    defaults:
         _controller: AppBundle:Collections:list

download:
    path: /download/{uri}/{name}
    defaults:
         _controller: AppBundle:Download:file

search:
    path: /search
    defaults:
         _controller: AppBundle:Search:query

subject:
    path: /subjects/{id}
    defaults:
         _controller: AppBundle:Subjects:subject
    requirements:
        id: '[a-z0-9-]+'

subjects:
    path: /subjects
    defaults:
         _controller: AppBundle:Subjects:list
